@font-face {
    font-family: 'Avenir';
    src: url('./fonts/avenir_ff/AvenirLTStd-Book.otf');
}

* {
    font-family: 'Avenir';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

:root {
    /* Colores */
    --dark-gray: #2a2e31;
    --light-gray: #34383d;
    --white: #fafaff;

    /* Tamaño de variables */
    --sm: 1.6rem;
    /* Para textos (parafos y así) */
    --md: 2rem;
    --lg: 3.2rem;
    --xl: 7.2rem;
    --xxl: 10rem;
    /* Transitions */
    --in: all 0.3s ease-in-out;
    --out: all 0.6s ease-in-out;

}

/* ******************************
----------- Header -----------
******************************* */
.body {
    position: relative;
    background-color: var(--dark-gray);
    min-height: 100%;
}

.header {
    align-items: center;
    color: var(--white);
    display: grid;
    justify-content: space-between;
    position: fixed;
    transition: var(--out);
    top: 0;
    width: 100%;
    z-index: 1;
}

.bg {
    background-color: rgba(42,46,49,0.9);
    transition: var(--in);
}

.header__nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header__nav ul li {
    font-size: var(--sm);
    margin-right: 8px;
    color: var(--white);
}

.link {
    color: var(--white);
    text-decoration: none;
    transition: var(--out);
}

.link:hover {
    text-decoration: none;
    transition: var(--in);
    background-color: var(--dark-gray);
    border-radius: 12px;
}

.header__image {
    text-align: center;
}

.header__idioma {
    text-align: right;
}

.header__idioma img {
    height: var(--lg);
}

.dropdown {
    position: relative;
}

.dropdown p:hover {
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    list-style: none;
    padding: 12px;
    position: absolute;
    text-align: left;
    justify-content: left;
    transform-origin: top left;
    transition: var(--out);
    border-radius: 12px;
}

.hero--estrategia .dropdown-menu,
.hero--fiscal .dropdown-menu {
    background-color: var(--dark-gray);
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu:hover {
    display: flex;
}

.dropdown-menu li {
    text-align: left;
    margin-bottom: 12px;
}

.handler-menu {
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: none;
    text-align: right;
}

.handler-menu svg {
    fill: var(--white);
    height: 24px;
}

/* ******************************
----------- modal.html -----------
******************************* */
.modal__main {
    background-color: var(--dark-gray);
    color: var(--white);
    display: grid;
    height: 100vh;
    width: 100vw;
}

.modal__logo {
    align-items: center;
    justify-items: center;
    display: grid;
}

.modal__logo div:nth-child(1) {
    border-right: 2px solid var(--white);
    width: 100%;
    padding-right: 128px;
    text-align: right;
}

.modal__logo div:nth-child(2) {
    width: 100%;
    padding-left: 128px;
}

.modal__logo img {
    width: 280px;
}

.modal__link {
    text-align: center;
    font-size: var(--md);
    padding: 16px;
}

/* ******************************
----------- home.html -----------
******************************* */


.index-main {
    background-color: var(--dark-gray);
    position: relative;
}

/* Sección Hero */
.index-main .main__hero img {
    width: 100%;
}

/* Sección Servicios */
.container__header {
    margin: 20px 0;
}

.container__header h2 {
    color: var(--white);
    text-align: center;
}

.container__header span::after {
    background-color: var(--white);
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 50px;
}

.servicios__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 240px));
    justify-content: center;
}

.servicios__item {
    align-items: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    font-size: var(--sm);
    justify-content: space-between;
    padding: 32px;
}

.servicios__item img {
    margin-bottom: 24px;
    /*width: 120px;*/
    height: 128px;
}

.servicios__content a {
    border-radius: 12px;
    margin: 12px;
    transition: var(--out);
    text-decoration: none;
}

.servicios__content a:hover {
    background-color: var(--light-gray);
    text-decoration: none;
    transition: var(--in);
}


/* Seccion clientes */
.cliente__list li {
    display: flex;
    align-items: center;
}

.cliente__list li span {
    margin-right: 12px;
}

.main__cliente {
    align-items: center;
    gap: 32px;
    max-width: 1200px;
    margin: 48px auto 0 auto;
}

.main__cliente.responsive-container-r .cliente__content {
    padding-right: 100px;
    background-image: url('./images/cardBG.jpg');
    background-position: right;


}

.main__cliente.responsive-container .cliente__content {
    padding-left: 100px;
    background-image: url('./images/cardBG2.jpg');
    background-position: left;


}

.cliente__list span img {
    width: 20px;
}

.cliente__content {
    background-size: cover;
    background-position: left;
    color: var(--white);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 32px;
    height: 400px;
    min-width: 220px;
    font-size: var(--sm);
    margin: auto 0;
}

.cliente__content>* {
    margin-bottom: 12px;
}

.cliente__content h1 {
    font-size: var(--lg);
}

.home__footer {
    background-image: url('./images/footerBG.png');
    color: var(--white);
    padding: 32px;
}

.home__footer h3,
h4,
label {
    font-size: var(--md);
    margin-bottom: 12px;
}


.home__footer .responsive-container-r {
    max-width: 960px;
    margin: 0 auto;
    gap: 24px;
}

.home__footer input,
textarea {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    font-size: var(--md);
    width: 100%;
    padding: 12px;
}

.home__footer textarea::placeholder {
    color: var(--white);
}

.footer__email {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__email--top>div {
    display: flex;
    align-items: center;
    margin: 12px 0;
}

.footer__email--bottom a {
    text-decoration: none;
}

.footer__info {
    align-items: center;
    display: flex;
    font-size: var(--sm);
    justify-content: space-between;
    padding: 12px 0;
    margin: 32px 0;
}

.footer__info img {
    height: var(--lg);
    margin: 4px;
}

.footer__info a {
    color: var(--white);
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: var(--md);
    text-decoration: none;
}

.button {
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    cursor: pointer;
    font-size: var(--md);
    margin: 0 12px;
    padding: 8px 12px;
    transition: var(--out);
}

.button:hover {
    background-color: var(--white);
    color: var(--dark-gray);
    transition: var(--in);
}

.button--rounded {
    border-radius: 12px;
}

/********************************
--------  servicios--paginas ------------
    --dark-gray: #2b2f32;
    --light-gray: #34393c;
********************************/
.degradado--left {
    height: 100%;
    background-image: linear-gradient(to right,
        rgba(42,46,49, 1) 30%,
        rgba(42,46,49, 0.5) 60%,
        rgba(42,46,49, 0) 100%);
}

.degradado--right {
    min-height: 100%;
    background-image: linear-gradient(to right,
            rgba(42,46,49, 0) 0%,
            rgba(42,46,49, 0.2) 20%,
            rgba(42,46,49, 0.7) 40%,
            rgba(42,46,49, 1) 60%,
            rgba(42,46,49, 1) 100%);
}

.servicios__hero {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    position: absolute;
}


.servicios__grid {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr 2.5fr;
    grid-template-rows: 1fr 0.2fr;
    padding-top: 5%;
    min-height: 100vh;
}

.servicio__footer {
    color: var(--white);
    font-size: var(--md);
    padding: 0 32px;
}

.footer__info--margin {
    margin: 0;
}

.button--servicios {
    display: flex;
    justify-content: center;
    margin: 4% 12%;
}

/********************************
--------  legal.html ------------
********************************/
.hero--legal {
    background-image: url("./images/heroLegal.jpg");
}

.servicios__info {
    color: var(--white);
    margin: 32px;
    display: grid;
    row-gap: 0.8em;
}

.servicios__info h2 {
    font-size: var(--md);
    margin: 62px 0 36px 0;
}

.servicios__info p,
.servicios__info li {
    list-style: none;
    font-size: var(--md);
}

.servicios__info ul {
    margin-top: 12px;
}

.check {
    width: 30px;
}

/* ******************************
--------- estrategia.html ---------
******************************* */
.hero--estrategia {
    background-image: url("./images/heroEstrategia.jpg");
}

/* ******************************
--------- soluciones.html ---------
******************************* */
.hero--soluciones {
    background-image: url("./images/heroSolucion.jpg");
}

/* ******************************
--------- fiscal.html ---------
******************************* */
.hero--fiscal {
    background-image: url("./images/heroFiscal.jpg");
}

/* ******************************
--------- terminos.html ---------
******************************* */
.main__title h2 {
    font-size: var(--xl);
    margin: 64px 0;
}

.terminos {
    background-color: var(--dark-gray);
    color: var(--white);
    font-size: var(--md);
    padding: 32px;
}

.terminos h3 {
    margin: 12px 0;
}

.terminos ol {
    margin-left: 16px;
}

/* ******************************
----------- Media Querys -----------
******************************* */

@media (min-width: 320px) {

    /* Header */
    .header {
        grid-template-columns: 1fr;
        padding: 12px;
    }

    .header__idioma {
        grid-row: 1;
    }

    .header__image {
        grid-row: 2;
    }

    .header__image img {
        height: 40px;
        margin: 12px 0;
    }

    .header__nav {
        display: none;
        background-color: var(--dark-gray);
        padding: 12px;
        border-radius: 12px;
    }

    .header__nav ul {
        align-items: flex-start;
        justify-content: left;
        text-align: left;
        flex-direction: column;
    }
    
    .header__nav ul li {
        margin: 12px 0;
    }

    #iconHamburguer {
        display: block;
    }

    #iconCross {
        display: none;
    }

    .link {
        padding: 2px;
    }

    /* Modal */
    .modal__main {
        grid-template-rows: repeat(4, 1fr);
    }

    .modal__logo {
        grid-row: 2/4;
        grid-template-columns: 1fr;
    }

    .modal__logo div:nth-child(1) {
        border: none;
    }

    .modal__logo div:nth-child(1),
    .modal__logo div:nth-child(2) {
        padding: 0;
        text-align: center;
    }

    .modal__link {
        grid-row: 4/5;
        font-size: var(--md);
        padding: 16px;
    }

    .index-main .main__hero {
        height: 60vh;
    }

    .container__header h2 {
        font-size: var(--lg);
    }

    .responsive-container-r {
        grid-template-columns: 1fr;
        display: grid;
    }

    .responsive-container .cliente__image,
    .responsive-container-r .cliente__image {
        text-align: center;
    }

    .cliente__image img {
        width: 100%;
        height: auto;
    }

    .responsive-container-r .cliente__content {
        grid-row: 1;
        width: 100%;
    }

    .servicios__info h1 {
        font-size: var(--lg);
        text-align: center;
    }

    .servicios__info {
        margin-top: 132px;
    }

    .servicios__info--left h1{
        text-align: center;
    }

    .servicios__info--left {
        grid-column: 1/4;
    }
    
    .servicios__info--right {
        grid-column: 1/4;
    }

    /* Página términos y condiciones */
    .terminos {
        padding-top: 160px;
    }

    .footer--right {
        justify-self: center;
        grid-column: 1/4;
    }
    
    .footer--left {
        grid-column: 1/4;
    }
}

@media (min-width: 768px) {
    /* Header */
    .header {
        grid-template-columns: 3fr 1fr 3fr;
        padding: 12px 32px;
    }

    .header__idioma,
    .header__image {
        grid-row: auto;
    }

    .header__image img {
        height: 60px;
        margin: 12px 0;
    }

    .header__nav {
        display: block;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

    .header__nav > ul {
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
    }

    #iconHamburguer {
        display: none;
    }

    #iconCross {
        display: none;
    }

    .link {
        padding: 8px;
    }

    /* Modal */
    .modal__main {
        grid-template-rows: repeat(3, 1fr);
    }

    .modal__logo {
        grid-row: 2/3;
        grid-template-columns: 1fr 1fr;
    }

    .modal__logo div:nth-child(1) {
        border-right: 2px solid var(--white);
    }

    .modal__logo div:nth-child(2) {
        text-align: left;
        padding-left: 64px;
        font-size: var(--md);
    }

    .modal__link {
        grid-row: 3/4;
    }

    .index-main .main__hero {
        height: auto;
    }


    .container__header h2 {
        font-size: var(--xl);
    }

    .responsive-container {
        grid-template-columns: 3fr 2fr;
        display: grid;
    }

    .responsive-container-r {
        grid-template-columns: 2fr 3fr;
    }

    .responsive-container .cliente__image {
        text-align: right;
    }

    .responsive-container-r .cliente__image {
        text-align: left;
    }

    .cliente__image img {
        height: 300px;
        width: auto;
    }

    .responsive-container-r .cliente__content {
        grid-row: auto;
    }

    /* Página términos y condiciones */
    .terminos {
        padding-top: 88px;
    }

    .cliente__content {
        max-width: 700px;
    }

    
    .servicios__info h1 {
        font-size: var(--xxl);
        text-align: end;
        padding-right: 12px;
    }

    .servicios__info {
        margin-top: 62px;
    }

    .servicios__info--left h1{
        text-align: left;
    }
    
    .servicios__info--left {
        grid-column: 1/3;
    }
    
    .servicios__info--right {
        grid-column: 2/4;
    }

    .footer--right {
        justify-self: end;
        grid-column: 2/4;
    }
    
    .footer--left {
        grid-column: 1/3;
    }

}